* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.header {
    background: #eff0f2;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}
.header__content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 64px 15px 195px;
}
.header__logo {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    border: 5px solid #000;
    width: 113px;
    padding: 5px 5px;
}
.header__title {
    margin: 193px 0 5px;
    color: #505050;
    font-size: 45px;
    font-weight: bold;
}
.header__title_second {
    margin: 0 0 139px;
}
.header__title__selection {
    background: #a7e3df;
}
.header__link {
    padding: 15px 45px;
    border: solid #777879 3px;
    font-size: 18px;
    color: #777879;
    letter-spacing: 0.2em;
    text-decoration: none;
}
.header__icon {
    position: absolute;
    right: 247px;
    top: 590px;
}

.section__content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 197px 15px 0;
}
.section__title {
    color: #323333;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.section__subtitle {
    color: #646565;
    font-family: Merriweather, sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.section_about-us {
    background: #f8fafa;
}
.section_featured-works {
    background: #ffffff;
}
.section_featured-works .section__subtitle {
    padding-bottom: 120px;
}
.section_small-team {
    background: #f9fbfb;
}
.section_small-team .section__subtitle {
    padding-bottom: 120px;
}
.section .section__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
}
.section_form {
    background-image: url("../images/bg-section.png");
}