* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.header {
    background: #eff0f2;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}
.header__body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 64px 15px 195px;
}
.header__logo {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    border: 5px solid #000;
    width: 113px;
    padding: 5px 5px;
}
.header__title {
    margin: 193px 0 5px;
}
.header__title_second {
    margin: 0 0 139px;
}
.header__link {
    padding: 15px 45px;
    border: solid #777879 3px;
    font-size: 18px;
    color: #777879;
    letter-spacing: 0.2em;
    text-decoration: none;
}
.header__icon {
    position: absolute;
    right: 247px;
    top: 590px;
}

.header .title {
    color: #505050;
    font-size: 45px;
    font-weight: bold;
}
.header .title__text {
    background: #a7e3df;
}

.section_about-us {
    background: #f8fafa;
}
.section_about-us .section__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.section_featured-works {
    background: #ffffff;
}
.section_small-team {
    background: #f9fbfb;
}
.section__body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 197px 15px 125px;
}
.section__subtitle {
    margin-bottom: 125px;
}
.section .title {
    color: #323333;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.section .subtitle {
    color: #646565;
    font-family: Merriweather, serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
}
.section__article {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 442px;
            flex: 0 1 442px;
}

.article__title {
    margin: 25px 0 20px;
    font-family: Merriweather, serif;
    font-size: 20px;
    font-weight: bold;
    color: #646565;
    word-spacing: 0.2em;
    text-transform: uppercase;
}
.article__info {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    color: #646565;
    line-height: 28px;
}