* {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  resize: none;
}

.header {
  background: #eff0f2;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;

  &__body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 64px 15px 195px;
  }

  &__logo {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    border: 5px solid #000;
    width: 113px;
    padding: 5px 5px;
  }

  &__title {
    margin: 193px 0 5px;

    &_second {
      margin: 0 0 139px;
    }

  }

  &__link {
    padding: 15px 45px;
    border: solid #777879 3px;
    font-size: 18px;
    color: #777879;
    letter-spacing: 0.2em;
    text-decoration: none;
  }

  &__icon {
    position: absolute;
    right: 247px;
    top: 590px;
  }
}

.header .title {
  color: #505050;
  font-size: 45px;
  font-weight: bold;

  &__text {
    background: #a7e3df;
  }

}

.section {
  &_about-us {
    background: #f8fafa;

      .section__content {
        justify-content: space-around;
        gap: 0;
      }
  }

  &_featured-works {
    background: #ffffff;
  }

  &_small-team {
    background: #f9fbfb;
  }

  &_form{
    //background-image: url("../images/bg-section.png");
    font-family: Raleway, sans-serif;
    font-size: 15px;
    color: #c4c7ca;
    font-weight: 100;

    .section__body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 25px;
    }
  }

  &__body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 197px 15px 125px;
  }

  &__subtitle {
    margin-bottom: 125px;
  }

  .title {
    color: #323333;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .subtitle {
    color: #646565;
    font-family: Merriweather, serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__content, {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  &__article {
    flex: 0 1 442px;
  }
}


.article{
  &__title {
    margin: 25px 0 20px;
    font-family: Merriweather, serif;
    font-size: 20px;
    font-weight: bold;
    color: #646565;
    word-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__info {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    color: #646565;
    line-height: 28px;
  }
}

.form {
  background: rgba(70, 90, 99, 0.71);
  padding: 40px 30px;
  flex: 1 1 auto;

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0);
    border-bottom: #c4c7ca 1px solid;

    &_textarea {
      height: 95px;
    }
  }

  &__button {
    background: #6eeee4;
    display: block;
    margin-top: 40px;
    padding: 20px 40px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: #505050;
    letter-spacing: 0.1em;
  }
}

.info-addresses {
  background: rgba(70, 90, 99, 0.71);
  padding: 30px 20px 25px;
  flex: 1 1 auto;
  line-height: 24px;
}

.footer {
  background: #262b2e;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 95px 0 150px;
  margin: 0 auto;
}



