* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: #eff0f2;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;

  &__content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 64px 15px 195px;
  }

  &__logo {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    border: 5px solid #000;
    width: 113px;
    padding: 5px 5px;
  }

  &__title {
    margin: 193px 0 5px;
    color: #505050;
    font-size: 45px;
    font-weight: bold;

    &_second {
      margin: 0 0 139px;
    }

    &__selection {
      background: #a7e3df;
    }
  }

  &__link {
    padding: 15px 45px;
    border: solid #777879 3px;
    font-size: 18px;
    color: #777879;
    letter-spacing: 0.2em;
    text-decoration: none;

  }

  &__icon {
    position: absolute;
    right: 247px;
    top: 590px;
  }
}