* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: #eff0f2;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;

  &__body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 64px 15px 195px;
  }

  &__logo {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    border: 5px solid #000;
    width: 113px;
    padding: 5px 5px;
  }

  &__title {
    margin: 193px 0 5px;

    &_second {
      margin: 0 0 139px;
    }

  }

  &__link {
    padding: 15px 45px;
    border: solid #777879 3px;
    font-size: 18px;
    color: #777879;
    letter-spacing: 0.2em;
    text-decoration: none;
  }

  &__icon {
    position: absolute;
    right: 247px;
    top: 590px;
  }
}

.header .title {
  color: #505050;
  font-size: 45px;
  font-weight: bold;

  &__text {
    background: #a7e3df;
  }

}

.section {
  &_about-us {
    background: #f8fafa;

      .section__content {
        justify-content: space-around;
      }
  }

  &_featured-works {
    background: #ffffff;
  }

  &_small-team {
    background: #f9fbfb;
  }

  //&_form{
  //  background-image: url("../images/bg-section.png");
  //}

  &__body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 197px 15px 125px;
  }
  
  &__subtitle {
    margin-bottom: 125px;
  }

  .title {
    color: #323333;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .subtitle {
    color: #646565;
    font-family: Merriweather, serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__content, {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  &__article {
    flex: 0 1 442px;
  }
}


.article{
  &__title {
    margin: 25px 0 20px;
    font-family: Merriweather, serif;
    font-size: 20px;
    font-weight: bold;
    color: #646565;
    word-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__info {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    color: #646565;
    line-height: 28px;
  }
}



